body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 20px 0;
    padding: 0;
    background-color: gray;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#cr-stage {
  border: 2px solid white;
  margin: 5px auto;
  background-color: black;
}

.source_link {
  float: right;
  font-size: .75em;
}
