.player {
    cursor: pointer;
    border-style: none none solid none;
    border-color: #ccc;
    border-width: 1px;
    color: #777;
}

.player .name {
    display: inline-block;
    width: 200px;
    font-size: 1.25em;
    color: black;
}

.player .position {
    display: inline-block;
    width:150px;
    font-size: 0.75em;
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-weight: bold;
    font-size: 0.75em;
}

.player.selected {
    background-color: yellow;
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #999;
}

.inc {
  cursor: pointer;
}
